<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/35171827-4024-436f-844a-a93c77822e60/resourceGroups/FatecApp/providers/Microsoft.ApiManagement/service/FatecAppBackendAPIManagementService/apis/FatecAppBackendAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/35171827-4024-436f-844a-a93c77822e60/resourceGroups/FatecApp/providers/Microsoft.Web/sites/fatecapi</ResourceId>
    <ResourceGroup>FatecApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fatecapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>539d0533-a41c-4363-b960-8da6abbf24f2</ProjectGuid>
    <PublishUrl>https://fatecapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fatecapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>